.containerTableAttendace {
  overflow: auto;
}
.containerAttendance {
  display: flex;
  justify-content: center;
  margin: 0px 22px;
}
.attendanceItem {
  width: 17px !important;
  height: 17px !important;
  border-radius: 50%;
  border: 1px solid #9e9c9c;
}
.containerAvatarItemImage {
  border-radius: 5px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.relativeItem {
  position: sticky;
  margin-top: -10px;
}
.tdSticky {
  position: sticky;
  left: 0;
  z-index: 1000;
  background-color: #F2F2F2;
}
.containerAvatar {
  display: flex;
  width: 250px;
  margin-top: 20px;
  position: sticky;
  left: 0;
}

.itemEmail {
  font-size: 11px;
  margin-top: 3px;
}

.containerBody {
  overflow: scroll;
}
.containerRelative {
  position: relative;
}
