.container {
  font-family: Century Gothic;
  font-style: normal;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 297px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background: #fff;
  padding: 60px 45px;
  align-items: center;
  height: 370px;
}
.container > p {
  font-size: 13px;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 30px;
  display: inline-flex;
  padding: 9px 13px;
  border-radius: 10px;
  border: 1px solid #a5a1a1;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonEye {
  cursor: pointer;
}
.input {
  outline: none;
  border: none;
  margin-left: -15px;
  align-items: center;
  font-size: 14px;
  width: 70%;
}
.inputEmail{
  width: 83%;

}
.label {
  color: #58585c;
  display: flex;
  font-size: 12px;
  font-family: Century Gothic;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputCheckbox {
  width: 1.1em;
  height: 1.1em;
  /* background-color: white; */
  border-radius: 50%;

  border: 0.5px solid #a5a1a1;
  margin-right: 4px;
  appearance: none;
  cursor: pointer;
}

.inputCheckbox:checked {
  background: #0d0b19;
}

.containerPasswordHelp {
  color: #58585c;
  width: 279px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.containerButtonLogin {
  width: 275px;
  /* background-color: red; */
  display: flex;
  justify-content: start;
}
.buttonLogin {
  cursor: pointer;
  width: 166px;
  height: 45px;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #a5a1a1;
  background: #0d0b19;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
