.containerLayout {
  /* margin-left: 70px; */
  padding: 20px 59px;
  /* width: 100%; */
  margin-left: 30px;
  background-color: #f2f2f2;
}
.pageCourseStudent {
  /* margin-left: 75px; */
  padding-top: 100px;
  /* padding-left: 25px; */
  background: #f2f2f2;
}

.containerStudent {
  display: flex;
  flex-wrap: wrap;
  width: calc(85% + 20px);
  /* width: 87; */
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 45px;
}
.containerStudent > div {
  margin: 10px;
}

.containerTitle {
  width: 85%;
  height: 38px;
  border-radius: 5px;
  background: #0d0b19;
  color: #ffffff;
  align-items: center;
  display: flex;
  padding: 10px 0px;
  padding-left: 20px;
  font-size: 20px;
}

.containerBackAndTitle {
  display: flex;
  background: #f2f2f2;
}

.containerBackAndTitle > button {
  background: none;
  border: 0;
  cursor: pointer;
  /* -moz-appearance: inherit; */
  /* -o-appearance: inherit; */
  /* -ms-appearance: inherit; */
  /* appearance: inherit; */
  /* -webkit-appearance: inherit; */
  margin-right: 20px;
}

.containerMenu {
  margin-top: 45px;
  width: calc(85% + 20px);
  background: #f2f2f2;
}

.menuFixed {
  position: fixed;

  width: 100%;
  z-index: 10000;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 50px;
  background-color: #f2f2f2;
  /* margin-left: 75px;
  padding-top: 20px;

*/
}
