/* .table {
  border-collapse: collapse;
  width: 100%;
}

.th,
.td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.childtable {
  width: 100%;
  border: 1px solid #ccc;
}

.childtableth,
.childtable td {
  border: 1px solid #ccc;
}
.table {
  border-collapse: collapse;
  width: 100%;
}

.th,
.td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.parentTable th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.childtable .caption {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
}

.childtable th {
  background-color: #e6e6e6;
  color: #333;
}

.childtable td {
  background-color: #f9f9f9;
  color: #333;
}

.childtable td:first-child {
  font-weight: bold;
}
.titleSubtable {
  display: none;
} */
/*----------------------*/
.table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 700;
}

.tableElement {
  text-align: center;
  margin-left: 100px;
}

.tableHeadElement {
  padding: 8px;
  text-align: center;
  /* background: #ffffff; */
  width: 33%;
}

.headerTable {
  background: #ffffff;
  cursor: pointer;
  align-items: center;
  border-radius: 4px;
}

.tableChild {
  border-collapse: collapse;
  width: 100%;
  /* margin-left: 100px; */
  align-items: center;
  text-align: center;
  /* background:red; */
  /* height: 300px; */
  margin-left: 10px;
}
.tableChildTitle {
  background-color: #ffffff;
  width: 94.2%;
  margin-left: 30px;
  margin-top: 10px;
  /* margin-left: 15px; */
  border-radius: 5px;
  padding: 8px 20px;
  text-align: start;
  align-items: center;
}
.tableChilContainerTible {
  display: flex;
  width: 100%;
}
.tableChilContainerTible > p {
  margin-left: 10px;
}
.tableChildHeaderContainer {
  /* display: none; */
  /* text-align: center; */
}

.tableChildHeaderContainerElement {
  /* display: none;  */
  color: transparent;
}
.tableChildElementContainer {
  /* width: 96% !important; */
  /* text-align: center; */
}

.tableChildElementContainer {
  margin-top: 100px;
}
.tableChildContainerElement {
  /* margin-left: 200px; */
  /* width: 46% !important; */
  background: red;
}
.tableChildElement {
  text-align: center;
}

.tableChildElement > p {
  margin-bottom: 9px;
}

.tableChildFoot {
  text-align: center;
  margin-left: 100px;
}
.tableChildFootContentContainer {
}
.tableChildFootContentContainer > td {
  align-items: center;
  text-align: center;
}
.tableChildFootContentContainer > td > div {
  width: 100%;
  /* background-color: red */
  display: flex;
  justify-content: center;
}
.tableChildFootContentContainer > td > div > p {
  background-color: white;
  width: 972px;
  border-radius: 5px;
  padding: 4px;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
