.containerGeneral {
  position: fixed;
  height: 100vh;
  width: 70px;
  /* background-color: red; */
  align-items: center;
  text-align: center;
  padding: 0px 2px;
  background-color: #ffffff;
  z-index: 10000;
}
.containerNav {
  /* background-color: blue; */
  height: 100%;
  padding-top: 20px;
  position: relative;
}

.navElementContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background: blue; */
  height: 300px;
  cursor: pointer;
}
.element {
  font-size: 12px;
}
.element > div {
  /* margin-top: 20px ; */
  display: none;
}
.element > div > a {
  text-decoration: none;
  color: inherit;
}
.element > div > a:visited {
  color: inherit;
}
.element:hover {
  display: block;
  /* background-color: red; */
}

.element:hover div {
  display: block;
}
