.containerLayout {
    /* margin-left: 70px; */
  padding: 20px 59px;
  width: 100%;
  }
  .pageCourseStudent {
    /* margin-left: 75px; */
    padding-top: 100px;
    /* padding-left: 25px; */
    background: #f2f2f2;
  }
  
  .containerStudent {
    display: flex;
    flex-wrap: wrap;
    width: calc(85% + 20px);
    /* width: 87; */
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 45px;
  }
  .containerStudent > div {
    margin: 10px;
  }
  
  .containerTitle {
    width: 85%;
    height: 38px;
    border-radius: 5px;
    background: #0d0b19;
    color: #ffffff;
    align-items: center;
    display: flex;
    padding: 10px 0px;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .containerBackAndTitle {
    display: flex;
    background: #f2f2f2;
  }
  
  .containerBackAndTitle > button {
    background: none;
    border: 0;
    cursor: pointer;
    /* -moz-appearance: inherit; */
    /* -o-appearance: inherit; */
    /* -ms-appearance: inherit; */
    /* appearance: inherit; */
    /* -webkit-appearance: inherit; */
    margin-right: 20px;
  }
  
  .containerMenu {
    margin-top: 45px;
    width: calc(85% + 20px);
    background: #f2f2f2;
  }
  .containerFilter {
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 100%;
    /* background: red; */
    width: 87%;
    display: flex;
  }
  .filterOrder {
    padding: 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 0;
    background: #fff;
    font-size: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .filterOrder > img {
    margin-left: 10px;
  }
  .filterOrder:active {
    transform: scale(0.9);
  }
  
  .containerTotalStudent {
    margin-top: 45px;
    display: flex;
    width: 87%;
    /* background-color: red !important; */
    margin-left: 60px;
    font-size: 20px;
  }
  .containerTotalStudent > a {
    margin-left: 60px;
  }
  .menuFixed {
    position: fixed;
    background: #f2f2f2;
    width: 95%;
    z-index: 10000;
    margin-left: 25px;
    padding-left: 0px;
    padding-bottom: 30px;
    /* margin-left: 75px;
    padding-top: 20px;
  
  */
  } 
  .main {
    margin-top: 190px;
  }
  